.main-menu {
  list-style: none;
  display: flex;
}

.main-menu li {
  display: block;
  padding: 0 5px;
}

.main-menu a {
  font-size: 14px;
  text-decoration: none;
  padding: 5px 10px;
  display: block;
  border-radius: 3px;
  transition: color 0.3s, background-color 0.3s;
}

.main-menu a:hover {
  color: #fff;
  background-color: #1976d2;
}
