.slide-box {
  height: 400px;
  width: 300px;
}

.elr-slide-down-trigger {
  background-color: #1976d2;
  padding: 10px 15px;
  color: #fff;
  border-radius: 0.3125rem;
  margin-bottom: 0.3125rem;
  cursor: pointer;
  display: block;
  font-size: 16px;
}

.elr-slide-down {
  max-height: 0;
  visibility: hidden;
  overflow: hidden;
  transition: max-height 0.5s cubic-bezier(0, 1.05, 0, 1), visibility 0.2s;
  background-color: #1976d2;
  color: #fff;
  list-style: none;
  margin: 0;
  padding: 0;
  border-radius: 0.3125rem;

  &.active {
    max-height: 31.25rem;
    visibility: visible;
    transition: max-height 0.5s ease-in;
  }

  li {
    padding: 0.3125rem 0.625rem;
  }
}
