@import '~elr-scss-animations/src/slide-down';

.slide-box {
  height: 400px;
  width: 300px;
}

.elr-slide-down-trigger {
  background-color: #1976d2;
  padding: 10px 15px;
  color: #fff;
  border-radius: 5px;
  margin-bottom: 5px;
  cursor: pointer;
  display: block;
  font-size: 16px;
}

.elr-slide-down {
  @include elr-slide;
  background-color: #1976d2;
  color: #fff;
  list-style: none;
  margin: 0;
  padding: 0;
  border-radius: 5px;

  li {
    padding: 5px 10px;
  }
}
