@import '~elr-scss-labels/src/label-corner';

.elr-label-corner-top {
  @include elr-label-corner(
    $config: (
      position-x: 'left',
      position-y: 'top'
    )
  );
}

.elr-label-corner-right {
  @include elr-label-corner(
    $config: (
      position-x: 'right',
      position-y: 'top'
    )
  );
}

.elr-label-corner-bottom {
  @include elr-label-corner(
    $config: (
      position-x: 'left',
      position-y: 'bottom'
    )
  );
}

.elr-label-corner-bottom-right {
  @include elr-label-corner(
    $config: (
      position-x: 'right',
      position-y: 'bottom'
    )
  );
}
