// @import '~elr-scss-buttons';
@import '../../config';

.elr-button-icon {
  .icon {
    padding-left: 15px;
    padding-right: 15px;

    i {
      font-size: 18px;
    }
  }

  .elr-button-text {
    margin-left: -15px;
  }
}

.elr-button-icon-square {
  padding-left: 12px;
  padding-right: 12px;
  padding-top: 12px;
  padding-bottom: 12px;

  .icon {
    padding-left: 0;
    padding-right: 0;

    i {
      font-size: 20px;
    }
  }
}

.elr-button-icon-round {
  padding-left: 12px;
  padding-right: 12px;
  padding-top: 12px;
  padding-bottom: 12px;

  .icon {
    padding-left: 0;
    padding-right: 0;

    i {
      font-size: 20px;
    }
  }
}

.elr-button-raised {
  background-color: darken($primary-color, 5%);
  border: 1px solid darken($primary-color, 5%);
  border-bottom: 4px solid darken($primary-color, 10%);

  &:hover {
    background-color: $primary-color;
    border: 1px solid hsl(200, 88%, 53%);
    border-bottom: 4px solid darken($primary-color, 5%);
  }
}

.elr-button-gradient {
  color: #fff;
  border: 0;
  background-image: linear-gradient(
    to right,
    $secondary-color 0%,
    $primary-color 51%,
    $secondary-color 100%
  );
  transition: 0.3s;
  background-size: 200% auto;
  text-shadow: #aaa 0 0 1px;

  &:hover {
    border: 0;
    background-position: right center;
  }
}

.elr-button-glass {
  color: #fff;
  border: 1px solid lighten($primary-color, 20%);
  background-position: center bottom;
  background-image: linear-gradient(
    to top,
    lighten(lighten($primary-color, 20%), 5%) 0%,
    $primary-color 51%,
    $primary-color 61%,
    lighten(lighten($primary-color, 20%), 5%) 100%
  );
  transition: 0.3s;
  background-size: auto 150%;
  text-shadow: #aaaaaa 0 0 1px;

  &:hover {
    border: 1px solid lighten($primary-color, 20%);
    background-position: center top;
  }
}
