.menu-animated {
  line-height: 1;
  margin: 0 auto 1.25rem;

  .menu {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    list-style: none;

    @media (max-width: 35.5em) {
      flex-direction: column;
    }

    .menu-item {
      display: block;
      // margin-left: 0;
      padding: 0;
    }

    a,
    button {
      background-color: transparent;
      font-size: 16px;
      font-weight: 700;
      display: block;
      padding: 16px;
      margin: 0;
      cursor: pointer;
      user-select: none;
      text-decoration: none;
      color: #1976d2;

      &:focus {
        outline: 0;
      }
    }
  }
}
