@import '~elr-scss-labels/src/label';
@import '~elr-scss-labels/src/label-context';

.elr-label {
  @include elr-label;
  margin: 5px;
}

.elr-label-info {
  @include elr-label-context(
    $config: (
      type: 'info'
    )
  );
}

.elr-label-danger {
  @include elr-label-context(
    $config: (
      type: 'danger'
    )
  );
}

.elr-label-warning {
  @include elr-label-context(
    $config: (
      type: 'warning'
    )
  );
}

.elr-label-success {
  @include elr-label-context(
    $config: (
      type: 'success'
    )
  );
}

.elr-label-muted {
  @include elr-label-context(
    $config: (
      type: 'muted'
    )
  );
}
