.elr-address-name {
  font-size: 18px;
  font-weight: 900;
  padding: 0 0 5px;
  margin: 0;
}

.elr-address-street,
.elr-address-city,
.elr-address-country {
  font-size: 14px;
  padding: 0 0 5px !important;
  margin: 0;
}
