.icon-card {
  width: 21.875rem;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1), -1px -1px 5px rgba(0, 0, 0, 0.1);

  &:hover h3 {
    color: #378fe7;
  }

  p {
    font-size: 0.875rem;
  }

  h3 {
    -webkit-transition: color 0.3s;
    -o-transition: color 0.3s;
    transition: color 0.3s;
    font-weight: 700;
    color: #1976d2;
  }
}
