.icon-card {
  width: 21.875rem;
}
.icon-card:hover h3 {
  color: #378fe7;
}
.icon-card p {
  font-size: 0.875rem;
}
.icon-card h3 {
  -webkit-transition: color 0.3s;
  -o-transition: color 0.3s;
  transition: color 0.3s;
  font-weight: 700;
  color: #1976d2;
}
