.menu-simple-lines {
  button {
    width: 8.5rem;
    height: 3rem;
    text-align: center;
    transition: color 0.3s;
  }

  .menu .menu-item {
    margin: 0;
    margin-left: 0;
    margin-right: 0;

    &.current button {
      color: #1976d2;
      transition: color 0.5s;
    }

    button {
      color: #999;
      margin: 0;

      &:focus,
      &:hover {
        color: #1976d2;
      }
    }

    &:nth-child(1).current ~ .menu-line {
      transform: translate3d(0, 0, 0);
    }

    &:nth-child(2).current ~ .menu-line {
      transform: translate3d(100%, 0, 0);
    }

    &:nth-child(3).current ~ .menu-line {
      transform: translate3d(200%, 0, 0);
    }

    &:nth-child(4).current ~ .menu-line {
      transform: translate3d(300%, 0, 0);
    }

    &:nth-child(5).current ~ .menu-line {
      transform: translate3d(400%, 0, 0);
    }

    @media (max-width: 35.5em) {
      &:nth-child(1).current ~ .menu-line {
        transform: translate3d(0, 0, 0);
      }

      &:nth-child(2).current ~ .menu-line {
        transform: translate3d(0, 3em, 0);
      }

      &:nth-child(3).current ~ .menu-line {
        transform: translate3d(0, 6em, 0);
      }

      &:nth-child(4).current ~ .menu-line {
        transform: translate3d(0, 9em, 0);
      }

      &:nth-child(5).current ~ .menu-line {
        transform: translate3d(0, 12em, 0);
      }
    }
  }

  .menu-line {
    position: absolute;
    top: 100%;
    width: 8.5rem;
    height: 1px;
    pointer-events: none;
    border: 1px solid #fff;
    border-width: 0 45px;
    background-color: #1976d2;
    transition: transform 0.5s;
    padding: 0;
    transition-timing-function: cubic-bezier(1, 0.01, 0, 1.22);

    @media (max-width: 35.5em) {
      .menu-line {
        top: 3em;
      }
    }
  }
}
