@import '~elr-scss-comment';

.comments {
  // max-width: 500px;
  @include elr-comments;
}

.comments .example-subheading {
  margin-bottom: 18px;
}

.comments .heading-underline {
  font-size: 24px;
  margin-bottom: 18px;
}

.elr-comment {
  margin-top: 10px;
  margin-bottom: 10px;
}

.elr-comment-content {
  max-width: none;
}

.elr-comment-replies {
  padding: 0 20px;
  width: 100%;
}
