@import '~elr-scss-lists';

.elr-unstyled-list {
  @include elr-unstyled-list;
  padding-left: 0;
}

.elr-border-list {
  @include elr-border-list;

  li {
    font-size: 14px;
  }
}

.elr-inline-list {
  @include elr-inline-list;

  li {
    font-size: 14px;
  }
}

.elr-bullet-list {
  @include elr-bullet-list;
}

.elr-icon-list {
  @include elr-icon-list;
  padding-left: 0;

  li {
    padding-left: 0;
  }
}
