#animated-links .example-holder {
  background-color: #fff;
  margin-top: 20px;
  padding-bottom: 40px;

  .example-subheading {
    margin: 20px;
  }

  .example-instructions {
    padding: 0 20px;
    background-color: #fff;

    p {
      font-size: 14px;
    }
  }
}
