.example-heading {
  font-size: 36px;
  margin-bottom: 24px;
  padding-top: 0;

  + p:first-of-type {
    margin-top: -20px;
  }
}

.example-heading,
.example-subheading {
  border-bottom: 1px solid #ccc;
  padding-bottom: 5px;
  font-weight: 700;
}

.example-subheading {
  padding: 10px 0;
  font-size: 1.125rem;
  margin-top: 0.625rem;
  margin-bottom: 0.3125rem;
  color: #1976d2;
}

pre {
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
  width: 100%;
}

.example-section {
  padding-bottom: 5rem;
  width: 100%;
}

.example-headings {
  margin-top: 0.625rem;

  + .example-subheadings {
    margin-top: 2.5rem;
  }

  p {
    font-size: 0.875rem;
    color: #999;
  }
}

.example-holder {
  padding: 20px;
  position: relative;
  background-color: #eee;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1), -1px -1px 5px rgba(0, 0, 0, 0.1);

  .card-holder {
    display: flex;
    padding: 20px;

    .elr-card {
      margin-right: 20px;
      margin-left: 20px;
      max-width: 500px;
    }
  }
}

.implementation h4 {
  font-size: 18px;
  font-weight: 900;
}

.implementation pre {
  margin: 15px 0;
}

code {
  display: block;
}

.example-instructions {
  padding: 15px 30px;
  background-color: #fff;

  p {
    font-size: 14px;
  }
}
