$elr-blue: #1976d2;
$elr-blue-light: lighten($elr-blue, 20%);
$red: #f7322f;
$yellow: #d1cb34;
$green: #7aba7b;
$blue: #1daaf0;
$grey: #999;
$dark-pink: #f02c97;

$danger-color: $red;
$warning-color: $yellow;
$success-color: $green;
$info-color: $blue;
$muted-color: $grey;
$primary-color: $elr-blue;
$secondary-color: $dark-pink;
