@import '~elr-scss-reset';
@import '~elr-scss-base';
@import '~elr-scss-grid';
@import '~elr-scss-helpers';

@include elr-reset();
@include elr-base();
@include elr-grid;
@include elr-helper-classes;
@include elr-action-helper-classes;

body {
  line-height: 1.3em;
  font-family: 'Lato', sans-serif;
  padding: 0;
  margin: 0;
}

.corner-label-box {
  width: 15.625rem;
  height: 15.625rem;
  display: block;
  background-color: #ccc;
  position: relative;
  float: left;
  margin-right: 0.625rem;
  margin-bottom: 0.625rem;
}

.pricing-table-container {
  height: 460px;
  min-height: min-content;
  position: relative;
}

.corner-label-box:nth-child(3) {
  clear: left;
}

.copyright {
  font-size: 0.75rem;
  text-align: center;
  line-height: 1;
  padding: 0;
}
.main-footer {
  background-color: #333;
  color: #fff;
  -webkit-box-flex: 0;
  -ms-flex: none;
  flex: none;
  padding: 0.625rem;
}
.main-header {
  margin: 0 auto;
  flex: none;
  width: 100%;
  position: fixed;
  top: 0;
  background-color: #fff;
  padding: 0.625rem 0;
  z-index: 1000;
  transition: background-color 0.3s, opacity 0.3s;
}
.main-header:after,
.main-header:before {
  content: '';
  display: table;
}
.main-header:after {
  clear: both;
}
@media (max-width: 35.5em) {
  .main-header {
    position: relative;
  }
}
@media (min-width: 35.5625em) {
  .fixed-header {
    background-color: #1976d2;
  }
  .fixed-header .main-nav-item {
    color: #fff;
  }
  .fixed-header .main-nav-item:hover {
    color: #fff;
  }
  .fixed-header .site-heading a {
    color: #fff;
  }
}
.site-heading {
  font-size: 1.875rem;
  float: left;
  padding: 0 0 0 0.625rem;
}
@media (max-width: 48em) {
  .site-heading {
    text-align: center;
  }
}
.site-heading a {
  color: #333;
  font-weight: 700;
  text-decoration: none;
}
.main-sidebar-holder {
  padding-top: 0.3125rem;
  position: relative;
}
.main-sidebar-holder:after,
.main-sidebar-holder:before {
  content: '';
  display: table;
}
.main-sidebar-holder:after {
  clear: both;
}
.main-sidebar {
  position: absolute;
  left: 0;
}
@media (max-width: 48em) {
  .main-sidebar {
    display: none;
  }
}
.main-sidebar.sticky-left {
  position: fixed;
  top: 6.25rem;
  padding: 0;
}
.main-sidebar-menu {
  background-color: transparent;
}
.main-sidebar-menu .elr-accordion-nav-label {
  font-weight: 700;
  position: relative;
}
.main-sidebar-menu .elr-accordion-nav-inner {
  max-height: 0;
  visibility: hidden;
  overflow: hidden;
  -webkit-transition: max-height 0.5s cubic-bezier(0, 1.05, 0, 1),
    visibility 0.2s;
  -o-transition: max-height 0.5s cubic-bezier(0, 1.05, 0, 1), visibility 0.2s;
  transition: max-height 0.5s cubic-bezier(0, 1.05, 0, 1), visibility 0.2s;
  padding: 0;
}
.main-sidebar-menu .elr-accordion-nav-inner.active {
  max-height: 31.25rem;
  visibility: visible;
  -webkit-transition: max-height 0.5s ease-in;
  -o-transition: max-height 0.5s ease-in;
  transition: max-height 0.5s ease-in;
}
.main-sidebar-menu .elr-accordion-nav-inner a {
  font-size: 0.8125rem;
  padding-left: 1.875rem;
}
.main-sidebar-menu > li > a {
  font-size: 1.25rem;
  font-weight: 700;
  padding-top: 0;
  padding-bottom: 0;
}
.main-sidebar-submenu > li > a {
  font-size: 0.875rem;
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 0.625rem;
}
.hero-unit {
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
  background-color: #333;
  color: #fff;
  line-height: 1.5;
  margin-top: 3.5rem;
}
@media (max-width: 35.5em) {
  .hero-unit {
    padding: 0.625rem;
    margin-top: 0;
  }
}
.hero-unit a {
  text-decoration: none;
  color: #fff;
}
.hero-unit a:hover {
  color: #4d4d4d;
}
.hero-unit-subtitle,
.page-title {
  margin: 0;
  padding: 0 0 0 0.625rem;
  font-weight: 700;
}
@media (max-width: 48em) {
  .hero-unit-subtitle,
  .page-title {
    padding: 0;
    margin: 0;
    text-align: center;
  }
}
.main-nav {
  float: right;
  margin: 0.3125rem;
  padding: 0;
  font-size: 0.875rem;
}
.main-nav:after,
.main-nav:before {
  content: '';
  display: table;
}
.main-nav:after {
  clear: both;
}
.mobile-nav-holder {
  padding-bottom: 0;
  width: 100%;
  position: absolute;
  top: 100%;
  left: 0;
  max-height: 0;
  visibility: hidden;
  z-index: 1000;
  overflow: hidden;
  -webkit-transition: max-height 0.5s cubic-bezier(0, 1.05, 0, 1),
    visibility 0.2s;
  -o-transition: max-height 0.5s cubic-bezier(0, 1.05, 0, 1), visibility 0.2s;
  transition: max-height 0.5s cubic-bezier(0, 1.05, 0, 1), visibility 0.2s;
}
.mobile-nav-holder:after,
.mobile-nav-holder:before {
  content: '';
  display: table;
}
.mobile-nav-holder:after {
  clear: both;
}
.mobile-nav-holder.active {
  max-height: 31.25rem;
  visibility: visible;
  -webkit-transition: max-height 0.3s ease-in;
  -o-transition: max-height 0.3s ease-in;
  transition: max-height 0.3s ease-in;
}
.mobile-menu-toggle {
  font-size: 1.25rem;
  background-color: transparent;
  border: 1px solid #333;
  padding: 0.3125rem 0.625rem;
  border-radius: 0.1875rem;
  color: #333;
  cursor: pointer;
  margin: 0;
  position: absolute;
  right: 0.625rem;
}
.mobile-menu-toggle i {
  margin-left: 0.3125rem;
}
.mobile-menu-toggle:active,
.mobile-menu-toggle:hover {
  background-color: #333;
  color: #fff;
}
.mobile-menu {
  list-style: none;
  padding: 0;
  clear: both;
  width: 100%;
}
.mobile-menu li {
  margin: 0;
  padding: 0;
}
.mobile-menu li:first-child a {
  padding-top: 0.625rem;
}
.mobile-menu li:last-child a {
  padding-bottom: 0.625rem;
}
.mobile-menu a {
  background-color: #333;
  color: #fff;
  text-decoration: none;
  display: block;
  padding: 0.625rem 1.25rem;
}
.mobile-menu a:active,
.mobile-menu a:hover {
  background-color: #fff;
  color: #333;
}
.mobile-sub-menu {
  list-style: none;
  margin: 0;
  padding: 0;
}
.mobile-sub-menu li {
  margin: 0;
  padding: 0;
}
.mobile-sub-menu li:first-child a {
  padding-top: 0.625rem;
}
.mobile-sub-menu li:last-child a {
  padding-bottom: 0.625rem;
}
.mobile-sub-menu a {
  padding-left: 2.5rem;
}

.fade-enter {
  opacity: 0;
  z-index: 1;
}

.fade-enter.fade-enter-active {
  opacity: 1;
  transition: opacity 250ms ease-in;
}

.elr-thumbnail,
.elr-round-thumbnail,
.elr-rounded-thumbnail {
  float: left;
  margin-right: 1.25rem;
}
