@import '~elr-scss-accordion';

.elr-accordion {
  @include elr-accordion;
  max-width: 600px;
  margin: 20px 0;
}

.elr-accordion-content p {
  padding: 5px 20px;
  font-size: 14px;

  &:first-child {
    padding-top: 15px;
  }

  &:last-child {
    padding-bottom: 15px;
  }
}
